fastapi
uvicorn[standard]
python-multipart
pillow
numpy
opencv-python-headless
transformers
google-generativeai==0.8.4
firebase-admin
requests
python-dotenv
scikit-image
--extra-index-url https://download.pytorch.org/whl/cpu
torch
